@page "/about"

<div class="about-page">
    <div class="about-content">
        <h1>About Skyfall</h1>
        <p>Skyfall is a party game for between 3 and 8 players, where one player is secretly the imposter!</p>
        <p>Players must ask each other questions to discover who the imposter is.</p>
        <p>Beware the imposter, as they are also trying to blend in and avoid detection!</p>
    </div>

    <div class="footer">
        <p>© Skyfall</p>
    </div>
</div>