@page "/game/{gameId}"
@using MudBlazor
@using Skyfall.Services

<PageTitle>@PageTitle</PageTitle>

@if (Game == null || Agent == null)
{
    <div>Loading...</div>
}
else
{
    <CascadingValue Value="Model">
        <MudStack Class="d-flex flex-grow-1" Style="min-width:95vw;">

            <MudHidden Breakpoint="Breakpoint.Xs">
                <MissionStatus />
            </MudHidden>

            <MudGrid Class="fill-middle">
                <MudHidden Breakpoint="Breakpoint.Xs">
                    <PlayerList DisplayMode="PlayerList.DisplayModes.List" />
                </MudHidden>

                <MudItem xs="12" sm="9" lg="10" Class="chat-window">
                    <ChatWindow />
                </MudItem>

            </MudGrid>

            <InstructionPanel />

        </MudStack>
    </CascadingValue>
}